@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    ViewData["Title"] = "BusinessList";
}

<h1>List of Orca Star Approved Businesses</h1>

<p>Tech World <input type="Submit" class="add-btn" value="Edit"> <input type="Submit" class="add-btn" value="Remove"></p>
<p>Pacific Coffee <input type="Submit" class="add-btn" value="Edit"> <input type="Submit" class="add-btn" value="Remove"></p>
<p>Mary's Breakfast Hut <input type="Submit" class="add-btn" value="Edit"> <input type="Submit" class="add-btn" value="Remove"></p>
<p>Bob's Bakers <input type="Submit" class="add-btn" value="Edit"> <input type="Submit" class="add-btn" value="Remove"></p>