@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model OrcaStarsWebApplication.ViewModels.ApplicationViewModel
@{
    ViewData["Title"] = "Confirm Page";
}

<div class="text-center">
    <h1 class="display-4">Confirming</h1>
    <p>Confirm your information</a>.</p>
    <p>Name: @Model.FirstName @Model.LastName </p>
</div>