@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model OrcaStarsWebApplication.ViewModels.ApplicationViewModel
@{
    ViewData["Title"] = "Business Form";
    Layout = "_Layout";
}
@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" media="all" />
    <style>
    #fullHrs {
        display: none;
    }
    #toggle {
        width: 200px;
    }
    table {
        text-align: left;
    }

    .day {
        display: inline-block;
        width: 100px;
        padding-bottom: 3px;
    }
    </style>
}
<body>
    <h1>Orca Stars Business Application</h1>
    <form enctype="multipart/form-data" asp-controller="admin" asp-action="form" method="post">
        <!-- enctype="multipart/form-data" allows us to use IFormFile-->
        <h3>Contact Information</h3>

        <label>First Name:</label>
        <input asp-for="FirstName" type="text" name="FirstName" placeholder="First Name" />
        <span asp-validation-for="FirstName"></span>
        <br />
        <label>Last Name:</label>
        <input asp-for="LastName" type="text" name="LastName" placeholder="Last Name" />
        <span asp-validation-for="LastName"></span>
        <br />
        <label>Phone Number:</label>
        <input asp-for="PhoneNumber" type="text" name="PhoneNumber" placeholder="Phone Number" />
        <span asp-validation-for="PhoneNumber"></span>
        <br />
        <label>Email:</label>
        <input asp-for="Email" type="text" name="Email" placeholder="email@example.com" />
        <span asp-validation-for="Email"></span>
        <br />
        <br />
        <br />

        <h3>Business Information</h3>
        <h4>General</h4>

        <label>Name:</label>
        <input asp-for="BusinessName" type="text" name="BusinessName" placeholder="Business Name">
        <span asp-validation-for="BusinessName"></span>
        <br />
        <label>Description:</label>
        <textarea asp-for="Description" placeholder="Business Description"></textarea>
        <span asp-validation-for="Description"></span>
        <br />
        <label>Business Phone:</label>
        <input asp-for="BusinessPhone" type="text" name="BusinessPhone" placeholder="Business Phone">
        <span asp-validation-for="BusinessPhone"></span>
        <br />
        <label>Category:</label>
        <select asp-for="Category" id="Category">
            <option>--Select--</option>
            <option>Restaurant</option>
            <option>Bars & Nightlife</option>
            <option>Health & Medicine</option>
            <option>Shopping</option>
            <option>Auto</option>
            <option>Home Maintenance</option>
            <option>Professional Services</option>
            <option>Auto</option>
            <option>Hotels & Travel</option>
            <option>Pets</option>
            <option>Financial Service</option>
            <option>Mass Media</option>
            <option>Education</option>
        </select>
        <span asp-validation-for="Category"></span>
        <br />

        <label>Website:</label>
        <input asp-for="Website" type="text" name="Website" placeholder="Business Website">
        <span asp-validation-for="Website"></span>
        <br />

        <label><b><span class="day">Hours:</span> Open Time - Close Time</b></label><br />
        <div id="quickHrs">
            <span>
                <span class="day">Every Day</span>
                <select id="GenO">
                    <option>Closed</option>
                    <option>12:00am</option>
                    <option>12:30am</option>
                    <option>1:00am</option>
                    <option>1:30am</option>
                    <option>2:00am</option>
                    <option>2:30am</option>
                    <option>3:00am</option>
                    <option>3:30am</option>
                    <option>4:00am</option>
                    <option>4:30am</option>
                    <option>5:00am</option>
                    <option>5:30am</option>
                    <option>6:00am</option>
                    <option>6:30am</option>
                    <option>7:00am</option>
                    <option>7:30am</option>
                    <option>8:00am</option>
                    <option>8:30am</option>
                    <option>9:00am</option>
                    <option>9:30am</option>
                    <option>10:00am</option>
                    <option>10:30am</option>
                    <option>11:00am</option>
                    <option>11:30am</option>
                    <option>12:00pm</option>
                    <option>12:30pm</option>
                    <option>1:00pm</option>
                    <option>1:30pm</option>
                    <option>2:00pm</option>
                    <option>2:30pm</option>
                    <option>3:00pm</option>
                    <option>3:30pm</option>
                    <option>4:00pm</option>
                    <option>4:30pm</option>
                    <option>5:00pm</option>
                    <option>5:30pm</option>
                    <option>6:00pm</option>
                    <option>6:30pm</option>
                    <option>7:00pm</option>
                    <option>7:30pm</option>
                    <option>8:00pm</option>
                    <option>8:30pm</option>
                    <option>9:00pm</option>
                    <option>9:30pm</option>
                    <option>10:00pm</option>
                    <option>10:30pm</option>
                    <option>11:00pm</option>
                    <option>11:30pm</option>
                </select>
                -
                <select id="GenC">
                    <option>Closed</option>
                    <option>12:00am</option>
                    <option>12:30am</option>
                    <option>1:00am</option>
                    <option>1:30am</option>
                    <option>2:00am</option>
                    <option>2:30am</option>
                    <option>3:00am</option>
                    <option>3:30am</option>
                    <option>4:00am</option>
                    <option>4:30am</option>
                    <option>5:00am</option>
                    <option>5:30am</option>
                    <option>6:00am</option>
                    <option>6:30am</option>
                    <option>7:00am</option>
                    <option>7:30am</option>
                    <option>8:00am</option>
                    <option>8:30am</option>
                    <option>9:00am</option>
                    <option>9:30am</option>
                    <option>10:00am</option>
                    <option>10:30am</option>
                    <option>11:00am</option>
                    <option>11:30am</option>
                    <option>12:00pm</option>
                    <option>12:30pm</option>
                    <option>1:00pm</option>
                    <option>1:30pm</option>
                    <option>2:00pm</option>
                    <option>2:30pm</option>
                    <option>3:00pm</option>
                    <option>3:30pm</option>
                    <option>4:00pm</option>
                    <option>4:30pm</option>
                    <option>5:00pm</option>
                    <option>5:30pm</option>
                    <option>6:00pm</option>
                    <option>6:30pm</option>
                    <option>7:00pm</option>
                    <option>7:30pm</option>
                    <option>8:00pm</option>
                    <option>8:30pm</option>
                    <option>9:00pm</option>
                    <option>9:30pm</option>
                    <option>10:00pm</option>
                    <option>10:30pm</option>
                    <option>11:00pm</option>
                    <option>11:30pm</option>
                </select>
            </span>
        </div>
        <div id="fullHrs">
            <span>
                <span class="day">Monday</span>
                <select id="MonO" asp-for="MonO">
                    <option>Closed</option>
                    <option>12:00am</option>
                    <option>12:30am</option>
                    <option>1:00am</option>
                    <option>1:30am</option>
                    <option>2:00am</option>
                    <option>2:30am</option>
                    <option>3:00am</option>
                    <option>3:30am</option>
                    <option>4:00am</option>
                    <option>4:30am</option>
                    <option>5:00am</option>
                    <option>5:30am</option>
                    <option>6:00am</option>
                    <option>6:30am</option>
                    <option>7:00am</option>
                    <option>7:30am</option>
                    <option>8:00am</option>
                    <option>8:30am</option>
                    <option>9:00am</option>
                    <option>9:30am</option>
                    <option>10:00am</option>
                    <option>10:30am</option>
                    <option>11:00am</option>
                    <option>11:30am</option>
                    <option>12:00pm</option>
                    <option>12:30pm</option>
                    <option>1:00pm</option>
                    <option>1:30pm</option>
                    <option>2:00pm</option>
                    <option>2:30pm</option>
                    <option>3:00pm</option>
                    <option>3:30pm</option>
                    <option>4:00pm</option>
                    <option>4:30pm</option>
                    <option>5:00pm</option>
                    <option>5:30pm</option>
                    <option>6:00pm</option>
                    <option>6:30pm</option>
                    <option>7:00pm</option>
                    <option>7:30pm</option>
                    <option>8:00pm</option>
                    <option>8:30pm</option>
                    <option>9:00pm</option>
                    <option>9:30pm</option>
                    <option>10:00pm</option>
                    <option>10:30pm</option>
                    <option>11:00pm</option>
                    <option>11:30pm</option>
                </select>
                -
                <select id="MonC" asp-for="MonC">
                    <option>Closed</option>
                    <option>12:00am</option>
                    <option>12:30am</option>
                    <option>1:00am</option>
                    <option>1:30am</option>
                    <option>2:00am</option>
                    <option>2:30am</option>
                    <option>3:00am</option>
                    <option>3:30am</option>
                    <option>4:00am</option>
                    <option>4:30am</option>
                    <option>5:00am</option>
                    <option>5:30am</option>
                    <option>6:00am</option>
                    <option>6:30am</option>
                    <option>7:00am</option>
                    <option>7:30am</option>
                    <option>8:00am</option>
                    <option>8:30am</option>
                    <option>9:00am</option>
                    <option>9:30am</option>
                    <option>10:00am</option>
                    <option>10:30am</option>
                    <option>11:00am</option>
                    <option>11:30am</option>
                    <option>12:00pm</option>
                    <option>12:30pm</option>
                    <option>1:00pm</option>
                    <option>1:30pm</option>
                    <option>2:00pm</option>
                    <option>2:30pm</option>
                    <option>3:00pm</option>
                    <option>3:30pm</option>
                    <option>4:00pm</option>
                    <option>4:30pm</option>
                    <option>5:00pm</option>
                    <option>5:30pm</option>
                    <option>6:00pm</option>
                    <option>6:30pm</option>
                    <option>7:00pm</option>
                    <option>7:30pm</option>
                    <option>8:00pm</option>
                    <option>8:30pm</option>
                    <option>9:00pm</option>
                    <option>9:30pm</option>
                    <option>10:00pm</option>
                    <option>10:30pm</option>
                    <option>11:00pm</option>
                    <option>11:30pm</option>
                </select>
            </span>
            <br />

            <span>
                <span class="day">Tuesday</span>
                <select id="TuesO" asp-for="TuesO">
                    <option>Closed</option>
                    <option>12:00am</option>
                    <option>12:30am</option>
                    <option>1:00am</option>
                    <option>1:30am</option>
                    <option>2:00am</option>
                    <option>2:30am</option>
                    <option>3:00am</option>
                    <option>3:30am</option>
                    <option>4:00am</option>
                    <option>4:30am</option>
                    <option>5:00am</option>
                    <option>5:30am</option>
                    <option>6:00am</option>
                    <option>6:30am</option>
                    <option>7:00am</option>
                    <option>7:30am</option>
                    <option>8:00am</option>
                    <option>8:30am</option>
                    <option>9:00am</option>
                    <option>9:30am</option>
                    <option>10:00am</option>
                    <option>10:30am</option>
                    <option>11:00am</option>
                    <option>11:30am</option>
                    <option>12:00pm</option>
                    <option>12:30pm</option>
                    <option>1:00pm</option>
                    <option>1:30pm</option>
                    <option>2:00pm</option>
                    <option>2:30pm</option>
                    <option>3:00pm</option>
                    <option>3:30pm</option>
                    <option>4:00pm</option>
                    <option>4:30pm</option>
                    <option>5:00pm</option>
                    <option>5:30pm</option>
                    <option>6:00pm</option>
                    <option>6:30pm</option>
                    <option>7:00pm</option>
                    <option>7:30pm</option>
                    <option>8:00pm</option>
                    <option>8:30pm</option>
                    <option>9:00pm</option>
                    <option>9:30pm</option>
                    <option>10:00pm</option>
                    <option>10:30pm</option>
                    <option>11:00pm</option>
                    <option>11:30pm</option>
                </select>
                -
                <select id="TuesC" asp-for="TuesC">
                    <option>Closed</option>
                    <option>12:00am</option>
                    <option>12:30am</option>
                    <option>1:00am</option>
                    <option>1:30am</option>
                    <option>2:00am</option>
                    <option>2:30am</option>
                    <option>3:00am</option>
                    <option>3:30am</option>
                    <option>4:00am</option>
                    <option>4:30am</option>
                    <option>5:00am</option>
                    <option>5:30am</option>
                    <option>6:00am</option>
                    <option>6:30am</option>
                    <option>7:00am</option>
                    <option>7:30am</option>
                    <option>8:00am</option>
                    <option>8:30am</option>
                    <option>9:00am</option>
                    <option>9:30am</option>
                    <option>10:00am</option>
                    <option>10:30am</option>
                    <option>11:00am</option>
                    <option>11:30am</option>
                    <option>12:00pm</option>
                    <option>12:30pm</option>
                    <option>1:00pm</option>
                    <option>1:30pm</option>
                    <option>2:00pm</option>
                    <option>2:30pm</option>
                    <option>3:00pm</option>
                    <option>3:30pm</option>
                    <option>4:00pm</option>
                    <option>4:30pm</option>
                    <option>5:00pm</option>
                    <option>5:30pm</option>
                    <option>6:00pm</option>
                    <option>6:30pm</option>
                    <option>7:00pm</option>
                    <option>7:30pm</option>
                    <option>8:00pm</option>
                    <option>8:30pm</option>
                    <option>9:00pm</option>
                    <option>9:30pm</option>
                    <option>10:00pm</option>
                    <option>10:30pm</option>
                    <option>11:00pm</option>
                    <option>11:30pm</option>
                </select>
            </span>
            <br />

            <span>
                <span class="day">Wednesday</span>
                <select id="WedO" asp-for="WedO">
                    <option>Closed</option>
                    <option>12:00am</option>
                    <option>12:30am</option>
                    <option>1:00am</option>
                    <option>1:30am</option>
                    <option>2:00am</option>
                    <option>2:30am</option>
                    <option>3:00am</option>
                    <option>3:30am</option>
                    <option>4:00am</option>
                    <option>4:30am</option>
                    <option>5:00am</option>
                    <option>5:30am</option>
                    <option>6:00am</option>
                    <option>6:30am</option>
                    <option>7:00am</option>
                    <option>7:30am</option>
                    <option>8:00am</option>
                    <option>8:30am</option>
                    <option>9:00am</option>
                    <option>9:30am</option>
                    <option>10:00am</option>
                    <option>10:30am</option>
                    <option>11:00am</option>
                    <option>11:30am</option>
                    <option>12:00pm</option>
                    <option>12:30pm</option>
                    <option>1:00pm</option>
                    <option>1:30pm</option>
                    <option>2:00pm</option>
                    <option>2:30pm</option>
                    <option>3:00pm</option>
                    <option>3:30pm</option>
                    <option>4:00pm</option>
                    <option>4:30pm</option>
                    <option>5:00pm</option>
                    <option>5:30pm</option>
                    <option>6:00pm</option>
                    <option>6:30pm</option>
                    <option>7:00pm</option>
                    <option>7:30pm</option>
                    <option>8:00pm</option>
                    <option>8:30pm</option>
                    <option>9:00pm</option>
                    <option>9:30pm</option>
                    <option>10:00pm</option>
                    <option>10:30pm</option>
                    <option>11:00pm</option>
                    <option>11:30pm</option>
                </select>
                -
                <select id="WedC" asp-for="WedC">
                    <option>Closed</option>
                    <option>12:00am</option>
                    <option>12:30am</option>
                    <option>1:00am</option>
                    <option>1:30am</option>
                    <option>2:00am</option>
                    <option>2:30am</option>
                    <option>3:00am</option>
                    <option>3:30am</option>
                    <option>4:00am</option>
                    <option>4:30am</option>
                    <option>5:00am</option>
                    <option>5:30am</option>
                    <option>6:00am</option>
                    <option>6:30am</option>
                    <option>7:00am</option>
                    <option>7:30am</option>
                    <option>8:00am</option>
                    <option>8:30am</option>
                    <option>9:00am</option>
                    <option>9:30am</option>
                    <option>10:00am</option>
                    <option>10:30am</option>
                    <option>11:00am</option>
                    <option>11:30am</option>
                    <option>12:00pm</option>
                    <option>12:30pm</option>
                    <option>1:00pm</option>
                    <option>1:30pm</option>
                    <option>2:00pm</option>
                    <option>2:30pm</option>
                    <option>3:00pm</option>
                    <option>3:30pm</option>
                    <option>4:00pm</option>
                    <option>4:30pm</option>
                    <option>5:00pm</option>
                    <option>5:30pm</option>
                    <option>6:00pm</option>
                    <option>6:30pm</option>
                    <option>7:00pm</option>
                    <option>7:30pm</option>
                    <option>8:00pm</option>
                    <option>8:30pm</option>
                    <option>9:00pm</option>
                    <option>9:30pm</option>
                    <option>10:00pm</option>
                    <option>10:30pm</option>
                    <option>11:00pm</option>
                    <option>11:30pm</option>
                </select>
            </span>
            <br />

            <span>
                <span class="day">Thursday</span>
                <select id="ThursO" asp-for="ThursO">
                    <option>Closed</option>
                    <option>12:00am</option>
                    <option>12:30am</option>
                    <option>1:00am</option>
                    <option>1:30am</option>
                    <option>2:00am</option>
                    <option>2:30am</option>
                    <option>3:00am</option>
                    <option>3:30am</option>
                    <option>4:00am</option>
                    <option>4:30am</option>
                    <option>5:00am</option>
                    <option>5:30am</option>
                    <option>6:00am</option>
                    <option>6:30am</option>
                    <option>7:00am</option>
                    <option>7:30am</option>
                    <option>8:00am</option>
                    <option>8:30am</option>
                    <option>9:00am</option>
                    <option>9:30am</option>
                    <option>10:00am</option>
                    <option>10:30am</option>
                    <option>11:00am</option>
                    <option>11:30am</option>
                    <option>12:00pm</option>
                    <option>12:30pm</option>
                    <option>1:00pm</option>
                    <option>1:30pm</option>
                    <option>2:00pm</option>
                    <option>2:30pm</option>
                    <option>3:00pm</option>
                    <option>3:30pm</option>
                    <option>4:00pm</option>
                    <option>4:30pm</option>
                    <option>5:00pm</option>
                    <option>5:30pm</option>
                    <option>6:00pm</option>
                    <option>6:30pm</option>
                    <option>7:00pm</option>
                    <option>7:30pm</option>
                    <option>8:00pm</option>
                    <option>8:30pm</option>
                    <option>9:00pm</option>
                    <option>9:30pm</option>
                    <option>10:00pm</option>
                    <option>10:30pm</option>
                    <option>11:00pm</option>
                    <option>11:30pm</option>
                </select>
                -
                <select id="ThursC" asp-for="ThursC">
                    <option>Closed</option>
                    <option>12:00am</option>
                    <option>12:30am</option>
                    <option>1:00am</option>
                    <option>1:30am</option>
                    <option>2:00am</option>
                    <option>2:30am</option>
                    <option>3:00am</option>
                    <option>3:30am</option>
                    <option>4:00am</option>
                    <option>4:30am</option>
                    <option>5:00am</option>
                    <option>5:30am</option>
                    <option>6:00am</option>
                    <option>6:30am</option>
                    <option>7:00am</option>
                    <option>7:30am</option>
                    <option>8:00am</option>
                    <option>8:30am</option>
                    <option>9:00am</option>
                    <option>9:30am</option>
                    <option>10:00am</option>
                    <option>10:30am</option>
                    <option>11:00am</option>
                    <option>11:30am</option>
                    <option>12:00pm</option>
                    <option>12:30pm</option>
                    <option>1:00pm</option>
                    <option>1:30pm</option>
                    <option>2:00pm</option>
                    <option>2:30pm</option>
                    <option>3:00pm</option>
                    <option>3:30pm</option>
                    <option>4:00pm</option>
                    <option>4:30pm</option>
                    <option>5:00pm</option>
                    <option>5:30pm</option>
                    <option>6:00pm</option>
                    <option>6:30pm</option>
                    <option>7:00pm</option>
                    <option>7:30pm</option>
                    <option>8:00pm</option>
                    <option>8:30pm</option>
                    <option>9:00pm</option>
                    <option>9:30pm</option>
                    <option>10:00pm</option>
                    <option>10:30pm</option>
                    <option>11:00pm</option>
                    <option>11:30pm</option>
                </select>
            </span>
            <br />

            <span>
                <span class="day">Friday</span>
                <select id="FriO" asp-for="FriO">
                    <option>Closed</option>
                    <option>12:00am</option>
                    <option>12:30am</option>
                    <option>1:00am</option>
                    <option>1:30am</option>
                    <option>2:00am</option>
                    <option>2:30am</option>
                    <option>3:00am</option>
                    <option>3:30am</option>
                    <option>4:00am</option>
                    <option>4:30am</option>
                    <option>5:00am</option>
                    <option>5:30am</option>
                    <option>6:00am</option>
                    <option>6:30am</option>
                    <option>7:00am</option>
                    <option>7:30am</option>
                    <option>8:00am</option>
                    <option>8:30am</option>
                    <option>9:00am</option>
                    <option>9:30am</option>
                    <option>10:00am</option>
                    <option>10:30am</option>
                    <option>11:00am</option>
                    <option>11:30am</option>
                    <option>12:00pm</option>
                    <option>12:30pm</option>
                    <option>1:00pm</option>
                    <option>1:30pm</option>
                    <option>2:00pm</option>
                    <option>2:30pm</option>
                    <option>3:00pm</option>
                    <option>3:30pm</option>
                    <option>4:00pm</option>
                    <option>4:30pm</option>
                    <option>5:00pm</option>
                    <option>5:30pm</option>
                    <option>6:00pm</option>
                    <option>6:30pm</option>
                    <option>7:00pm</option>
                    <option>7:30pm</option>
                    <option>8:00pm</option>
                    <option>8:30pm</option>
                    <option>9:00pm</option>
                    <option>9:30pm</option>
                    <option>10:00pm</option>
                    <option>10:30pm</option>
                    <option>11:00pm</option>
                    <option>11:30pm</option>
                </select>
                -
                <select id="FriC" asp-for="FriC">
                    <option>Closed</option>
                    <option>12:00am</option>
                    <option>12:30am</option>
                    <option>1:00am</option>
                    <option>1:30am</option>
                    <option>2:00am</option>
                    <option>2:30am</option>
                    <option>3:00am</option>
                    <option>3:30am</option>
                    <option>4:00am</option>
                    <option>4:30am</option>
                    <option>5:00am</option>
                    <option>5:30am</option>
                    <option>6:00am</option>
                    <option>6:30am</option>
                    <option>7:00am</option>
                    <option>7:30am</option>
                    <option>8:00am</option>
                    <option>8:30am</option>
                    <option>9:00am</option>
                    <option>9:30am</option>
                    <option>10:00am</option>
                    <option>10:30am</option>
                    <option>11:00am</option>
                    <option>11:30am</option>
                    <option>12:00pm</option>
                    <option>12:30pm</option>
                    <option>1:00pm</option>
                    <option>1:30pm</option>
                    <option>2:00pm</option>
                    <option>2:30pm</option>
                    <option>3:00pm</option>
                    <option>3:30pm</option>
                    <option>4:00pm</option>
                    <option>4:30pm</option>
                    <option>5:00pm</option>
                    <option>5:30pm</option>
                    <option>6:00pm</option>
                    <option>6:30pm</option>
                    <option>7:00pm</option>
                    <option>7:30pm</option>
                    <option>8:00pm</option>
                    <option>8:30pm</option>
                    <option>9:00pm</option>
                    <option>9:30pm</option>
                    <option>10:00pm</option>
                    <option>10:30pm</option>
                    <option>11:00pm</option>
                    <option>11:30pm</option>
                </select>
            </span>
            <br />

            <span>
                <span class="day">Saturday</span>
                <select id="SatO" asp-for="SatO">
                    <option>Closed</option>
                    <option>12:00am</option>
                    <option>12:30am</option>
                    <option>1:00am</option>
                    <option>1:30am</option>
                    <option>2:00am</option>
                    <option>2:30am</option>
                    <option>3:00am</option>
                    <option>3:30am</option>
                    <option>4:00am</option>
                    <option>4:30am</option>
                    <option>5:00am</option>
                    <option>5:30am</option>
                    <option>6:00am</option>
                    <option>6:30am</option>
                    <option>7:00am</option>
                    <option>7:30am</option>
                    <option>8:00am</option>
                    <option>8:30am</option>
                    <option>9:00am</option>
                    <option>9:30am</option>
                    <option>10:00am</option>
                    <option>10:30am</option>
                    <option>11:00am</option>
                    <option>11:30am</option>
                    <option>12:00pm</option>
                    <option>12:30pm</option>
                    <option>1:00pm</option>
                    <option>1:30pm</option>
                    <option>2:00pm</option>
                    <option>2:30pm</option>
                    <option>3:00pm</option>
                    <option>3:30pm</option>
                    <option>4:00pm</option>
                    <option>4:30pm</option>
                    <option>5:00pm</option>
                    <option>5:30pm</option>
                    <option>6:00pm</option>
                    <option>6:30pm</option>
                    <option>7:00pm</option>
                    <option>7:30pm</option>
                    <option>8:00pm</option>
                    <option>8:30pm</option>
                    <option>9:00pm</option>
                    <option>9:30pm</option>
                    <option>10:00pm</option>
                    <option>10:30pm</option>
                    <option>11:00pm</option>
                    <option>11:30pm</option>
                </select>
                -
                <select id="SatC" asp-for="SatC">
                    <option>Closed</option>
                    <option>12:00am</option>
                    <option>12:30am</option>
                    <option>1:00am</option>
                    <option>1:30am</option>
                    <option>2:00am</option>
                    <option>2:30am</option>
                    <option>3:00am</option>
                    <option>3:30am</option>
                    <option>4:00am</option>
                    <option>4:30am</option>
                    <option>5:00am</option>
                    <option>5:30am</option>
                    <option>6:00am</option>
                    <option>6:30am</option>
                    <option>7:00am</option>
                    <option>7:30am</option>
                    <option>8:00am</option>
                    <option>8:30am</option>
                    <option>9:00am</option>
                    <option>9:30am</option>
                    <option>10:00am</option>
                    <option>10:30am</option>
                    <option>11:00am</option>
                    <option>11:30am</option>
                    <option>12:00pm</option>
                    <option>12:30pm</option>
                    <option>1:00pm</option>
                    <option>1:30pm</option>
                    <option>2:00pm</option>
                    <option>2:30pm</option>
                    <option>3:00pm</option>
                    <option>3:30pm</option>
                    <option>4:00pm</option>
                    <option>4:30pm</option>
                    <option>5:00pm</option>
                    <option>5:30pm</option>
                    <option>6:00pm</option>
                    <option>6:30pm</option>
                    <option>7:00pm</option>
                    <option>7:30pm</option>
                    <option>8:00pm</option>
                    <option>8:30pm</option>
                    <option>9:00pm</option>
                    <option>9:30pm</option>
                    <option>10:00pm</option>
                    <option>10:30pm</option>
                    <option>11:00pm</option>
                    <option>11:30pm</option>
                </select>
            </span>
            <br />
            <span>
                <span class="day">Sunday</span>
                <select id="SunO" asp-for="SunO">
                    <option>Closed</option>
                    <option>12:00am</option>
                    <option>12:30am</option>
                    <option>1:00am</option>
                    <option>1:30am</option>
                    <option>2:00am</option>
                    <option>2:30am</option>
                    <option>3:00am</option>
                    <option>3:30am</option>
                    <option>4:00am</option>
                    <option>4:30am</option>
                    <option>5:00am</option>
                    <option>5:30am</option>
                    <option>6:00am</option>
                    <option>6:30am</option>
                    <option>7:00am</option>
                    <option>7:30am</option>
                    <option>8:00am</option>
                    <option>8:30am</option>
                    <option>9:00am</option>
                    <option>9:30am</option>
                    <option>10:00am</option>
                    <option>10:30am</option>
                    <option>11:00am</option>
                    <option>11:30am</option>
                    <option>12:00pm</option>
                    <option>12:30pm</option>
                    <option>1:00pm</option>
                    <option>1:30pm</option>
                    <option>2:00pm</option>
                    <option>2:30pm</option>
                    <option>3:00pm</option>
                    <option>3:30pm</option>
                    <option>4:00pm</option>
                    <option>4:30pm</option>
                    <option>5:00pm</option>
                    <option>5:30pm</option>
                    <option>6:00pm</option>
                    <option>6:30pm</option>
                    <option>7:00pm</option>
                    <option>7:30pm</option>
                    <option>8:00pm</option>
                    <option>8:30pm</option>
                    <option>9:00pm</option>
                    <option>9:30pm</option>
                    <option>10:00pm</option>
                    <option>10:30pm</option>
                    <option>11:00pm</option>
                    <option>11:30pm</option>
                </select>
                -
                <select id="SunC" asp-for="SunC">
                    <option>Closed</option>
                    <option>12:00am</option>
                    <option>12:30am</option>
                    <option>1:00am</option>
                    <option>1:30am</option>
                    <option>2:00am</option>
                    <option>2:30am</option>
                    <option>3:00am</option>
                    <option>3:30am</option>
                    <option>4:00am</option>
                    <option>4:30am</option>
                    <option>5:00am</option>
                    <option>5:30am</option>
                    <option>6:00am</option>
                    <option>6:30am</option>
                    <option>7:00am</option>
                    <option>7:30am</option>
                    <option>8:00am</option>
                    <option>8:30am</option>
                    <option>9:00am</option>
                    <option>9:30am</option>
                    <option>10:00am</option>
                    <option>10:30am</option>
                    <option>11:00am</option>
                    <option>11:30am</option>
                    <option>12:00pm</option>
                    <option>12:30pm</option>
                    <option>1:00pm</option>
                    <option>1:30pm</option>
                    <option>2:00pm</option>
                    <option>2:30pm</option>
                    <option>3:00pm</option>
                    <option>3:30pm</option>
                    <option>4:00pm</option>
                    <option>4:30pm</option>
                    <option>5:00pm</option>
                    <option>5:30pm</option>
                    <option>6:00pm</option>
                    <option>6:30pm</option>
                    <option>7:00pm</option>
                    <option>7:30pm</option>
                    <option>8:00pm</option>
                    <option>8:30pm</option>
                    <option>9:00pm</option>
                    <option>9:30pm</option>
                    <option>10:00pm</option>
                    <option>10:30pm</option>
                    <option>11:00pm</option>
                    <option>11:30pm</option>
                </select>
            </span>
        </div>
        <input type="button" id="toggle" onclick="toggleHours()" value="Modify Individual Days">
        <br />
        <br />

        <h4>Location</h4>
        <label>Address 1:</label>
        <input asp-for="AddressLine1" type="text" name="AddressLine1" placeholder="Address Line 1">
        <span asp-validation-for="AddressLine1"></span>
        <br />
        <label>Address 2:</label>
        <input asp-for="AddressLine2" type="text" name="AddressLine2" placeholder="Address Line 2">
        <span asp-validation-for="AddressLine2"></span>
        <br />
        <label>City <span asp-validation-for="City"></span>:</label>
        <input asp-for="City" type="text" name="City" placeholder="Bothell">
        <label>State/Province <span asp-validation-for="State"></span>:</label>
        <input asp-for="State" type="text" name="State" placeholder="WA">
        <label>Postal Code:</label>
        <input asp-for="Zip" type="text" name="Zip" placeholder="98012">
        <span asp-validation-for="Zip"></span>
        <br />
        <label>Country:</label>
        <input asp-for="Country" type="text" name="Country" placeholder="United States">
        <span asp-validation-for="Country"></span>
        <br />
        <br />

        <h4>Social Media</h4>

        <label>Facebook: @@</label>
        <input asp-for="Facebook" type="text" name="Facebook" placeholder="Facebook">

        <label>Twitter: @@</label>
        <input asp-for="Twitter" type="text" name="Twitter" placeholder="Twitter">

        <label>Instagram: @@</label>
        <input asp-for="Instagram" type="text" name="Instagram" placeholder="Instagram">

        <br />
        <br />

        <h4>Images</h4>
        <div class="form-group row">
            <label asp-for="BusinessLogo" class="col-sm-2 col-form-label">Business Logo</label>
            <div class="col-sm-10">
                <div class="custom-file">
                    @*Photo property type is IFormFile, so ASP.NET Core
                    automatically creates a FileUpload control  *@
                    <input asp-for="BusinessLogo" class="custom-file-input form-control">
                    <label class="custom-file-label">Click to upload or drag your image here</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="StoreLogo" class="col-sm-2 col-form-label">Store Image</label>
            <div class="col-sm-10">
                <div class="custom-file">
                    @*Photo property type is IFormFile, so ASP.NET Core
                    automatically creates a FileUpload control  *@
                    <input asp-for="StoreLogo" class="custom-file-input form-control">
                    <label class="custom-file-label">Click to upload or drag your image here</label>
                </div>
            </div>
        </div>
        <br />
        <br />
        <input onclick="toggleHours()" type="submit" class="submit-form-btn" value="Submit">
    </form>

    @section Scripts {
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });

            function toggleHours() {
                var tog = document.getElementById("toggle");
                var fhr = document.getElementById("fullHrs");
                var qhr = document.getElementById("quickHrs");
                var g = document.getElementById("GenO");
                var mo = document.getElementById("MonO");
                var tu = document.getElementById("TuesO");
                var we = document.getElementById("WedO");
                var th = document.getElementById("ThursO");
                var fr = document.getElementById("FriO");
                var sa = document.getElementById("SatO");
                var su = document.getElementById("SunO");
                var Cg = document.getElementById("GenC");
                var Cmo = document.getElementById("MonC");
                var Ctu = document.getElementById("TuesC");
                var Cwe = document.getElementById("WedC");
                var Cth = document.getElementById("ThursC");
                var Cfr = document.getElementById("FriC");
                var Csa = document.getElementById("SatC");
                var Csu = document.getElementById("SunC");
                if (fhr.style.display === "block") {
                    g.value = mo.value;
                    Cg.value = Cmo.value;
                    fhr.style.display = "none";
                    qhr.style.display = "block";
                    tog.value = "Modify Individual Days";
                } else {
                    mo.value = g.value;
                    tu.value = g.value;
                    we.value = g.value;
                    th.value = g.value;
                    fr.value = g.value;
                    sa.value = g.value;
                    su.value = g.value;
                    Cmo.value = Cg.value;
                    Ctu.value = Cg.value;
                    Cwe.value = Cg.value;
                    Cth.value = Cg.value;
                    Cfr.value = Cg.value;
                    Csa.value = Cg.value;
                    Csu.value = Cg.value;
                    fhr.style.display = "block";
                    qhr.style.display = "none";
                    tog.value = "Modify Collective Hours";
                }
            }

        </script>
    }

</body>
