@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<body>
    <h1>Orca Stars</h1>
    <form>
        <input type="submit" value="Add a new Business"  class="m-1" asp-action="Form" asp-controller="Admin" />
        <br>
        <input type="submit" value="Business Search"  class="m-1" asp-action="Search" asp-controller="Admin">
    </form>
</body>