@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model OrcaStarsWebApplication.ViewModels.ApplicationViewModel
@{
    ViewData["Title"] = "Business Form";
    Layout = null;
}

    <body>
        <form action="" method="post">
            <h3>Owner Information</h3>

            <label>First Name:</label>
            <input asp-for="FirstName" type="text" name="FirstName" placeholder="First Name" />
            <br />
            <label>Last Name:</label>
            <input asp-for="LastName" type="text" name="LastName" placeholder="Last Name" />
            <br />
            <label>Phone Number:</label>
            <input asp-for="PhoneNumber" type="text" name="PhoneNumber" placeholder="Phone Number" />
            <br />
            <label>Email:</label>
            <input asp-for="Email" type="text" name="Email" placeholder="email@example.com" />
            <br />
            <input type="submit" class="submit-form-btn" value="Next Step >>">

        </form>

    </body>