@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model OrcaStarsWebApplication.ViewModels.ApplicationViewModel
@{
    ViewData["Title"] = "Business Form";
    Layout = "_Layout";
}

<body>
    <h1>Orca Stars Business Application</h1>
    <form enctype="multipart/form-data" asp-controller="admin" asp-action="index" method="post" > <!-- enctype="multipart/form-data" allows us to use IFormFile-->
        <h3>Owner Information</h3>

        <label>First Name:</label>
        <input asp-for="FirstName" type="text" name="FirstName" placeholder="First Name" />
        <br />
        <label>Last Name:</label>
        <input asp-for="LastName" type="text" name="LastName" placeholder="Last Name" />
        <br />
        <label>Phone Number:</label>
        <input asp-for="PhoneNumber" type="text" name="PhoneNumber" placeholder="Phone Number" />
        <br />
        <label>Email:</label>
        <input asp-for="Email" type="text" name="Email" placeholder="email@example.com" />
        <br />
        <h3>Business Information</h3>

        <label>Name:</label>
        <input asp-for="BusinessName" type="text" name="BusinessName" placeholder="Business Name">
        <br />
        <label>Description:</label>
        <textarea asp-for="Description" placeholder="Business Description"></textarea>
        <br />
        <label>Website:</label>
        <input asp-for="Website" type="text" name="Website" placeholder="Business Website">
        <br />
        <label>Address Line 1:</label>
        <input asp-for="AddressLine1" type="text" name="AddressLine1" placeholder="55555 Street Way NW">
        <br />
        <label>Address Line 2:</label>
        <input asp-for="AddressLine2" type="text" name="AddressLine1" placeholder="">
        <br />
        <label>City:</label>
        <input asp-for="City" type="text" name="City" placeholder="Bothell">
        <br />
        <label>State:</label>
        <input asp-for="State" type="text" name="State" placeholder="WA">
        <br />
        <label>Country:</label>
        <input asp-for="Country" type="text" name="Country" placeholder="USA">
        <br />
        <label>Zip Code:</label>
        <input asp-for="Zip" type="text" name="Zip" placeholder="90123">
        <br />
        <label>Social Media:</label>
        <input asp-for="SocialMedia" type="text" name="SocialMedia" placeholder="Social Media">
        <br />
        <label>Hours:</label>
        <input asp-for="Hours" type="text" name="Hours" placeholder="Business Hours">
        <br />
        <div class="form-group row">
            <label asp-for="Logo" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div class="custom-file">
                    @*Photo property type is IFormFile, so ASP.NET Core
        automatically creates a FileUpload control  *@
                    <input asp-for="Logo" class="custom-file-input form-control">
                    <label class="custom-file-label">Click here to change photo</label>
                </div>
            </div>
        </div>
        @section Scripts {
            <script>
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var fileName = $(this).val().split("\\").pop();
                        $(this).next('.custom-file-label').html(fileName);
                    });
                });
            </script>
        }

        <br />
        <input type="submit" class="submit-form-btn" value="Submit">

    </form>
</body>
