@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model OrcaStarsWebApplication.ViewModels.ApplicationViewModel
@{
    ViewData["Title"] = "Business Form";
    Layout = "_Layout";
}

<body>
    <h1>Orca Stars Business Application</h1>
    <form enctype="multipart/form-data" asp-controller="admin" asp-action="index" method="post">
        <!-- enctype="multipart/form-data" allows us to use IFormFile-->
        <h3>Contact Information</h3>

        <label>First Name:</label>
        <input asp-for="FirstName" type="text" name="FirstName" placeholder="First Name" />
        <span asp-validation-for="FirstName"></span>
        <br />
        <label>Last Name:</label>
        <input asp-for="LastName" type="text" name="LastName" placeholder="Last Name" />
        <span asp-validation-for="LastName"></span>
        <br />
        <label>Phone Number:</label>
        <input asp-for="PhoneNumber" type="text" name="PhoneNumber" placeholder="Phone Number" />
        <span asp-validation-for="PhoneNumber"></span>
        <br />
        <label>Email:</label>
        <input asp-for="Email" type="text" name="Email" placeholder="email@example.com" />
        <span asp-validation-for="Email"></span>
        <br />
        <br />
        <br />

        <h3>Business Information</h3>
        <h4>General</h4>

        <label>Name:</label>
        <input asp-for="BusinessName" type="text" name="BusinessName" placeholder="Business Name">
        <span asp-validation-for="BusinessName"></span>
        <br />
        <label>Description:</label>
        <textarea asp-for="Description" placeholder="Business Description"></textarea>
        <span asp-validation-for="Description"></span>
        <br />
        <label>Category:</label>
        <select asp-for="Category" id="Category">
            <option>--Select--</option>
            <option>Restaurant</option>
            <option>Bars & Nightlife</option>
            <option>Health & Medicine</option>
            <option>Shopping</option>
            <option>Auto</option>
            <option>Home Maintenance</option>
            <option>Professional Services</option>
            <option>Auto</option>
            <option>Hotels & Travel</option>
            <option>Pets</option>
            <option>Financial Service</option>
            <option>Mass Media</option>
            <option>Education</option>
        </select>
        <span asp-validation-for="Category"></span>
        <br />
        <label>Hours:</label>
        <input type="submit" class="upload-btn" value="Choose File">
        <span asp-validation-for="Hours"></span>
        <br />
        <label>Website:</label>
        <input asp-for="Website" type="text" name="Website" placeholder="Business Website">
        <span asp-validation-for="Website"></span>
        <br />
        <br />

        <h4>Location</h4>
        <label>Address 1:</label>
        <input asp-for="AddressLine1" type="text" name="AddressLine1" placeholder="Address Line 1">
        <span asp-validation-for="AddressLine1"></span>
        <br />
        <label>Address 2:</label>
        <input asp-for="AddressLine2" type="text" name="AddressLine2" placeholder="Address Line 2">
        <span asp-validation-for="AddressLine2"></span>
        <br />
        <label>City <span asp-validation-for="City"></span>:</label>
        <input asp-for="City" type="text" name="City" placeholder="Bothell">
        <label>State/Province <span asp-validation-for="State"></span>:</label>
        <input asp-for="State" type="text" name="State" placeholder="WA">
        <label>Postal Code:</label>
        <input asp-for="Zip" type="text" name="Zip" placeholder="98012">
        <span asp-validation-for="Zip"></span>
        <br />
        <label>Country:</label>
        <input asp-for="Country" type="text" name="Country" placeholder="United States">
        <span asp-validation-for="Country"></span>
        <br />
        <br />

        <h4>Social Media</h4>
        <label>Social Media Platform:</label>
        <br />
        <select asp-for="SocialMedia" id="socialmedia">
            <option>Facebook</option>
            <option>Instagram</option>
            <option>Twitter</option>
        </select>
        <span asp-validation-for="SocialMedia"></span>

        <label>Handle:</label>
        <input asp-for="Handle" type="text" name="Handle" placeholder="@@facebook">
        <input type="submit" class="add-btn" value="+ Add">
        <input type="submit" class="remove-btn" value="- Remove">
        <br />

        <select asp-for="SocialMedia2" id="socialmedia">
            <option>Facebook</option>
            <option>Instagram</option>
            <option>Twitter</option>
        </select>
        <span asp-validation-for="SocialMedia2"></span>

        <label>Handle:</label>
        <input asp-for="Handle2" type="text" name="Handle2" placeholder="@@twitter">
        <input type="submit" class="add-form-btn" value="+ Add">
        <input type="submit" class="remove-btn" value="- Remove">
        <br />
        <br />

        <h4>Images</h4>
        <div class="form-group row">
            <label asp-for="BusinessLogo" class="col-sm-2 col-form-label">Business Logo</label>
            <div class="col-sm-10">
                <div class="custom-file">
                    @*Photo property type is IFormFile, so ASP.NET Core
                    automatically creates a FileUpload control  *@
                    <input asp-for="BusinessLogo" class="custom-file-input form-control">
                    <label class="custom-file-label">Click to upload or drag your image here</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="StoreLogo" class="col-sm-2 col-form-label">Store Image</label>
            <div class="col-sm-10">
                <div class="custom-file">
                    @*Photo property type is IFormFile, so ASP.NET Core
                    automatically creates a FileUpload control  *@
                    <input asp-for="StoreLogo" class="custom-file-input form-control">
                    <label class="custom-file-label">Click to upload or drag your image here</label>
                </div>
            </div>
        </div>
        @section Scripts {
            <script>
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var fileName = $(this).val().split("\\").pop();
                        $(this).next('.custom-file-label').html(fileName);
                    });
                });
            </script>
        }

        <br />
        <br />
        <input type="submit" class="submit-form-btn" value="Submit">


    </form>

</body>
