@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model OrcaStarsWebApplication.ViewModels.ApplicationViewModel
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <label asp-for="UserName">Username</label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>

        <input type="Submit"value="Submit" />
        <div><a asp-controller="Admin" asp-action="Confirm">Confirm</a></div>

    </div>
