@{
    ViewData["Title"] = "Login Form";
    Layout = null;
}

<body>
    <h1>Orca Stars Login</h1>
    <form action="" method="post">
        <h3>Owner Information</h3>

        <label>Username:</label>
        <input type="text" name="UsernameFirstName" placeholder="Username" />
        <br />
        <label>Password:</label>
        <input type="text" name="Password" placeholder="Password" />
        <br />
        <input type="submit" class="submit-form-btn" value="Submit">

    </form>
</body>