@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model OrcaStarsWebApplication.ViewModels.SearchViewModel

@{
    ViewData["Title"] = "Search";
    Layout = "_Layout";
}

<h1>Search</h1>

<h3>Find Businesses</h3>
<form asp-action="Search" asp-controller="Admin">
    <div>
        <label for="businessName">Name:</label>
        <input asp-for="BusinessName" placeholder="Business Name" id="businessName" />
    </div>
    <div>
        <label for="Category">Category:</label>
        <select asp-for="Category">
            <option>ALL</option>
            <option>Restaurant</option>
            <option>Bars & Nightlife</option>
            <option>Shopping</option>
            <option>Health & Medicine</option>
            <option>Home Maintenance</option>
            <option>Professional Services</option>
            <option>Auto</option>
            <option>Hotels & Travel</option>
            <option>Pets</option>
            <option>Financial Service</option>
            <option>Mass Media</option>
            <option>Education</option>
        </select>
    </div>
    <div>
        <label for="businessCity">City:</label>
        <input asp-for="City" placeholder="Bothell" id="businessCity" />
    </div>
    <div>
        <input type="submit" value="Search" />
    </div>
</form>

<script>
    var nametags = @Html.Raw(Json.Serialize(Model.businessNames));

    $( "#businessName" ).autocomplete({
  source: function( request, response ) {
          var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
            response($.grep(nametags , function( item ){
              return matcher.test( item );
          }) );
      }
    });

    var citytags = @Html.Raw(Json.Serialize(Model.businessCities));

    $( "#businessCity" ).autocomplete({
  source: function( request, response ) {
          var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
            response($.grep(citytags , function( item ){
              return matcher.test( item );
          }) );
      }
});
</script>


<!--<script>
    /*
        jQuery tooltip provides the hover effect,
        AJAX call to '/api/writer/{id}' gets the JSON data
        for the book count for the given author id
     */
    $(function () {
        $(document).tooltip({
            items: "[data-id]",
            content: function () {
                if (this.attributes.length <= 2) {
                    var id = this.attributes["data-id"].nodeValue;
                    /* Call the API */
                    $.getJSON('/api/contact/' + id + '/businesscount/', function (data) {
                        $("[data-id =" + id + "]")
                            .attr('name', 'number of businesses: ' + data.count);
                    });
                }
            }
        });
    });</script>-->
