<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OrcaStarsWebApplication</title>
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: true)
    }
    else
    {
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" media="all" />
    }
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <header>
        <partial name="_LoginPartial" />
    </header>
    <div>
        @RenderBody()
    </div>
    <!-- Enables use to call and use Scripts as needed in our views -->
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }
</body>
</html>
